In [1]:
# code 1

In [2]:
for i in range(1,50):
    if i%4 == 0:
        if i%6 == 0:
            print('$', i)
        else:
            print('*', i)

* 4
* 8
$ 12
* 16
* 20
$ 24
* 28
* 32
$ 36
* 40
* 44
$ 48

In [3]:
# code 2

In [4]:
for i in range(5):
    for j in range(5):
        print(i+j, end=' ')
    print()

0 1 2 3 4
1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8

In [7]:
# code 3

for i in range(5):
    for j in range(5):
        if j>=i:
            print(i+j, end =' ')
    print()

0 1 2 3 4
2 3 4 5
4 5 6
6 7
8

In [25]:
# code 3'

for i in range(5):
    for j in range(5):
        if j>=i:
            print(i+j, end =' ')
        else:
            print(' ', end ='')
    print()

0 1 2 3 4
 2 3 4 5
  4 5 6
   6 7
    8

In [26]:
# code 3"

for i in range(5):
    for j in range(5):
        if j>=i:
            print(i+j, end =' ')
        else:
            print(' ', end =' ')
    print()

0 1 2 3 4
  2 3 4 5
    4 5 6
      6 7
        8

In [27]:
# code 3'

for i in range(5):
    for j in range(5):
        if j>=i:
            print(i+j, end =' ')
        else:
            print('', end =' ')
    print()

0 1 2 3 4
 2 3 4 5
  4 5 6
   6 7
    8

In [38]:
# code 3"

for i in range(5):
    for j in range(5):
        if j>=i:
            print('*', end =' ')
        else:
            print('', end =' ')
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [15]:
# code 4

for i in range(5):
    for j in range(5):
        if i+j>=4:
            print('*', end = '')
        else:
            print(' ', end = '')
    print()

    *
   **
  ***
 ****
*****

In [16]:
# code 4'

for i in range(5):
    for j in range(5):
        if i+j>=4:
            print('*', end = ' ')
        else:
            print(' ', end = '')
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [18]:
# code 4"

for i in range(5):
    for j in range(5):
        if i+j>=4:
            print('*', end = ' ')
        else:
            print(' ', end = ' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [19]:
# code 5

for i in range(5):
    for j in range(5):
        if i==j or i+j==4:
            print('$', end = '')
        else:
            print(' ', end = '')
    print()

$   $
 $ $
  $
 $ $
$   $

In [24]:
# code 5'

for i in range(5):
    for j in range(5):
        if i==j or i+j==4:
            print('$', end = ' ')
        else:
            print(' ', end = ' ')
    print()

$       $
  $   $
    $
  $   $
$       $

In [29]:
# code 6

for i in range(5):
    j,k=5-i,0             # j=5-i, k=0
    while j>0:
        print(' ', end = '')    # end is empty string
        j-=1
    while k<=i:
        print('*', end =' ')    # end is ' ' string
        k+=1
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [30]:
# code 6'

for i in range(5):
    j,k=5-i,0             # j=5-i, k=0
    while j>0:
        print(' ', end = ' ')    # end is empty string
        j-=1
    while k<=i:
        print('*', end =' ')    # end is ' ' string
        k+=1
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [31]:
# code 6"

for i in range(5):
    j,k=5-i,0             # j=5-i, k=0
    while j>0:
        print('', end = '')    # end is empty string
        j-=1
    while k<=i:
        print('*', end =' ')    # end is ' ' string
        k+=1
    print()

*
* *
* * *
* * * *
* * * * *

In [37]:
# code 6"'

for i in range(5):
    j,k=5-i,0             # j=5-i, k=0
    while j>0:
        print(' ', end = '')    # end is empty string
        j-=1
    while k<=i:
        print('*', end ='')    # end is ' ' string
        k+=1
    print()

     *
    **
   ***
  ****
 *****